
# Ignore Maven target folder
/target/

# Ignore IntelliJ IDEA project files
/.idea/

# Firebase key file
src/main/resources/firebase-service-account.json

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

cls